 .card{
     padding: 0;
 }
 .card-title{
    display: block;
    padding: 16px 20px;
    font-size: 16px;
    color: #37474f;
    .card-desc{
        display: block;
        padding: 5px 0 0;
        margin: 0;
        font-size: 14px;
        color: #76838f;
    }
    small{
        color: #76838f;
    }
    
 }
 .card-body{
    padding: 20px 20px;
 }
 .card-footer{
    padding:0 20px 20px 10px 20px;;
 }