.menu-collapsed {}

.side-menu-wrapper {
  user-select: none;

  .menu-collapsed {
    padding-left: 120px;
    padding-top: 10px;

    .ivu-dropdown {
      width: 100%;

      .ivu-dropdown-rel a {
        width: 100%;
      }
    }

    .ivu-tooltip {
      width: 100%;

      .ivu-tooltip-rel {
        width: 100%;
      }

      .ivu-tooltip-popper .ivu-tooltip-content {
        .ivu-tooltip-arrow {
          border-right-color: #fff;
        }

        .ivu-tooltip-inner {
          background: #fff;
          color: #495060;
        }
      }
    }

    a.drop-menu-a {
      display: inline-block;
      padding: 8px 15px;
      width: 100%;
      text-align: center;
      color: #495060;
      text-decoration: none;

      &:hover {
        background: rgba(100, 100, 100, 0.1);
      }

      .anticon {
        font-size: 20px;
      }
    }
  }
}

.menu-title {
  padding-left: 6px;
}

.ivu-dropdown-rel {
  .drop-menu-a {
    color: #495060;
    text-decoration: none;
  }
}

.ivu-menu-item > i {
  margin-right: 12px !important;
}

.ivu-menu-submenu > .ivu-menu > .ivu-menu-item > i {
  margin-right: 8px !important;
}

.collased-menu-dropdown {
  width: 100%;
  margin: 0;
  line-height: normal;
  padding: 7px 0 6px 16px;
  clear: both;
  font-size: 12px !important;
  white-space: nowrap;
  list-style: none;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.collased-menu-dropdown:hover {
  background: rgba(100, 100, 100, 0.1);
}

.collased-menu-dropdown * {
  color: #515a6e;
}

.collased-menu-dropdown .ivu-menu-item > i {
  margin-right: 12px !important;
}

.collased-menu-dropdown .ivu-menu-submenu > .ivu-menu > .ivu-menu-item > i {
  margin-right: 8px !important;
}

.ivu-select-dropdown.ivu-dropdown-transfer {
  max-height: 400px;
}
