.aside_bar {
  max-width: 72px;

  &_logo {
    max-width: 72px;
    height: 64px;
    line-height: 64px;

    .abl_text {
      display: block;
      text-align: center;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 18px;
      color: #FFF;
      font-weight: 700;
      font-family: Helvetica,sans-serif;
    }
  }

  &_menu {
    outline: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

    .menu {
      &_item {
        padding: 0 24px;
        margin-bottom: 1px;
        color: #FFF;
        font-weight: 700;
        //激活状态
        &.menu_item_select {
          border-radius: 0;
          background-image: -webkit-linear-gradient(left, #18bfa4 0%, #18bfa4 100%);
          background-image: -o-linear-gradient(left, #18bfa4 0%, #18bfa4 100%);
          background-image: linear-gradient(to right, #18bfa4 0%, #18bfa4 100%);
        }
        // 移入状态
        &:hover {
          border-radius: 0;
          background-image: -webkit-linear-gradient(left, #18bfa4 0%, #18bfa4 100%);
          background-image: -o-linear-gradient(left, #18bfa4 0%, #18bfa4 100%);
          background-image: linear-gradient(to right, #18bfa4 0%, #18bfa4 100%);

          .menu_item_custom {
            .menu_icon {
              opacity: 1;
              transform: translateY(-10px);
              margin-top: 20px;
            }

            .menu_text {
              height: auto;
              color: #fff;
              transform: translateY(-10px);
            }
          }
        }

        & > a {
          text-decoration: none;
        }

        .menu_item_custom {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          height: 70px;

          .menu_icon {
            color: #fff;
            font-size: 20px;
            opacity: 0.8;
            transform: translateY(0);
            -webkit-transition: opacity 0.5s,-webkit-transform 0.5s;
            transition: transform 0.5s,opacity 0.5s;
            transition: transform 0.5s,opacity 0.5s,-webkit-transform 0.5s;
          }

          .menu_text {
            display: block;
            height: 0;
            overflow: hidden;
            font-size: 12px;
            color: #fff;
            transform: translateY(0);
            -webkit-transition: height 0.5s,-webkit-transform 0.5s;
            transition: height 0.5s,transform 0.5s;
            transition: height 0.5s,transform 0.5s,-webkit-transform 0.5s;
          }
        }
      }
    }
  }

  &_user {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 68px;
    display: flex;
    justify-content: center;

    .user_avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      background: #fff;
      cursor: pointer;

      img {
        border-radius: 50%;
        width: 42px;
        height: 42px;
      }
    }
  }
}
